################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DbConcurrencyDemoSrc/bin
/DbConcurrencyDemoSrc/ConcurrencyDemo.Tests/bin/
/DbConcurrencyDemoSrc/ConcurrencyDemo.Tests/obj
/DbConcurrencyDemoSrc/obj
/DbConcurrencyDemoSrc/.vs
src/obj
src/ConcurrencyDemo.Tests/ConcurrencyDemo.Tests.csproj
src/ConcurrencyDemo.Tests/ConcurrencyTests.cs
src/ConcurrencyDemo.Tests/bin
src/ConcurrencyDemo.Tests/obj
src/bin
src/.vs
DbConcurrencyDemoSlide/node_modules
**/**/node_modules
